@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Engagement&display=swap');
@import "tailwindcss";

html{
  font-size: 75%;
}
body {
background-color: white;
color: black;
}

.bungee-font{
  font-family: "Bungee Shade", sans-serif;
}
.engagement-font{
  font-family: "Engagement", cursive;
}